/* Flexbox container */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 /*  background-image: url("../../images/gradient4.jpg"); */
  height: 100vh; 
}

/* Grid for project cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* default for mobile */
  grid-gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* for tablets and larger screens */
  .project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  /* for desktops and larger screens */
  .project-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Project card */
.project-card {
  border: 2px solid #333333; /* stone-900 */
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 9rem; /* 36px for mobile, 48px for tablets and larger screens */
  object-fit: cover;
  cursor: pointer;
}

.project-card .project-details {
  padding: 1rem;
}

.project-card h3 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  color: #333333; /* stone-900 */
  margin-bottom: 0.5rem;
}

.project-card p {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem; /* 14px */
}

.project-card span {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  border: 2px solid #333333; /* stone-900 */
  border-radius: 0.25rem;
  color: #333333; /* stone-900 */
}

.project-text--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 2rem;
  padding-top: 4rem;
}

.project-text--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 1200px;
}

.project-text--text {
  flex: 1;
  max-width: 800px;
  margin-right: 1rem;
}

.project-text--text h1 {
  font-size: 5rem;
  text-decoration: underline;
  text-decoration-color: orange;
}


.project-text--text p:first-of-type {
  text-transform: uppercase;
  font-weight: 300;
}

.project-sub-title-typewriter {
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  letter-spacing: 2px;
  animation: project-typing 8s steps(60, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes project-typing {
  0% {
    width: 0;
  }
  100% {
    width: 78ch; /* Adjust the width to match the content width */
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.project-text--text p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.project-text--image-container {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2rem;
  margin-top: -1rem; /* Add a negative margin to the top */
}

.project-text--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -50px;
}

@media screen and (min-width: 768px) {
  .project-text--inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .project-text--text h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }

  .project-text--text p {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  .project-text--image-container {
    width: 50%;
    margin-top: 0;
  }
}
