.projects-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: auto; /* Change the height to auto */
  padding: 2rem; /* Add padding for better spacing */
}

.project-cards-container {
  overflow-y: auto;
  max-height: 70vh;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.1);
  margin-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.project-card {
  border: 2px solid #333333;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  cursor: pointer;
}

.project-card .project-details {
  padding: 1rem;
}

.project-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.5rem;
}

.project-card p {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
}

.project-card span {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  border: 2px solid #333333;
  border-radius: 0.25rem;
  color: #333333;
}

.project-text--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 2rem;
  padding-top: 4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.project-text--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 1200px;
}

.project-text--text {
  flex: 1;
  max-width: 800px;
  margin-right: 1rem;
}

.project-text--text h1 {
  font-size: 5rem;
  text-decoration: underline;
  text-decoration-color: orange;
}

.project-text--text p {
  font-weight: 300;
}

.project-sub-title-typewriter {
  font-weight: 300;
  letter-spacing: 2px;
  animation: fadeIn 5s ease-in;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 3s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-text--text p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.project-text--image-container {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2rem;
  margin-top: -1rem;
}

.project-text--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -50px;
}

.paragraph-container {
  min-width: 85ch;
}

.paragraph-container > p {
  font-style: italic;
  /*  text-transform: lowercase; */
  font-weight: 300;
  line-height: 10px;
}

@media screen and (min-width: 768px) {
  .project-text--inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .project-text--text h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }

  .project-text--text p {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  .project-text--image-container {
    width: 50%;
    margin-top: 0;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 3s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-slow {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 3s ease;
}

.fade-in-slow.visible {
  opacity: 1;
  transform: translateY(0);
}
