.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem; 
   background-color: #fff; 
  background: transparent;
  
}

.header-inner {
  align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    max-width: 1427px;

}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 15rem; 
  
}

.header-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(255,0,180);
  text-decoration: none;
  text-transform: uppercase;

}

.header-logo a:hover {
  color: rgb(0, 255, 188);

}

.header-menu {
  display: flex;
  align-items: center;

}

.header-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.header-menu li {
  margin-left: 2rem;

}

.header-menu a {
  position: relative;
  font-size: 1rem;
  color: #222;
  text-decoration: none;
  /* transition: color 0.3s ease; */
  text-transform: uppercase;
  padding: 0 10px;

}

a:after {
  content:"";
  position: absolute;
  background-color: rgba(255,0,180);
  height: 3px;
  bottom: -10px;
  width: 0;
  left: 0;
  transition: 0.3s;
}

a:hover {
    color: rgba(255,0,180);

}

a:hover:after {
  width: 100%;
}

/* .header-menu a:hover {
  color: #f77; 
  
} */

/* Media queries */
@media screen and (max-width: 768px) {
  .header {
    padding: 1.5rem 1rem;

  }
  .header-menu li {
    margin-left: 1rem;

  }
}
