.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 300px auto 0;
}

.timeline-heading {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 4px;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 2px solid rgba(255, 255, 255, 1);
  padding-bottom: 5px;
}

.timeline-item {
  margin-bottom: 50px;
  padding-left: 16px;
  position: relative;
}

.timeline-item-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #cbd5e0;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: -23.5px;
  border: 2px solid #fff;
}

.timeline-item-content {
  position: relative;
  padding-right: 40px;
}

.timeline-item-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.timeline-item-date {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #1a202c;
  border-radius: 0.375rem;
}

.timeline-item-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: orange;
}

.timeline-item-duration {
  margin-top: 1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #718096;
}

.timeline-item-description {
  margin-top: 2px;
  font-size: 1.25rem;
  font-weight: 400;
}

.timeline-item-mentions {
  list-style-type: disc;
  margin: 3px 0 0 0;
  padding-left: 16px;
}

.timeline-item-mentions li {
  margin: 4px 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1rem;
  color: black;
  opacity: 0.7;
}

.timeline-item-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.technology-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background-color: #48bb78;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* .technology-button:hover {
  background-color: orange;
  transform: scale(1.1);
}
 */

.timeline-item-header {
  cursor: pointer;
}

.timeline-item-arrow-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
}

.timeline-item-arrow-btn .fa-arrow-up,
.timeline-item-arrow-btn .fa-arrow-down {
  font-size: 36px;
}

.timeline-item-arrow-btn .fa-arrow-up {
  color: rgb(196, 147, 255);
}

.timeline-item-arrow-btn .fa-arrow-down {
  color: rgb(255, 0, 180);
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}
